<footer>
  <%if(title != "Index") {%>
    <form action="/" method="get">
      <button type="submit" id = "log_out">
      Log Out
      </button>
    </form>
  <%}%>
  <p>Brought to you by Sadi Gulcelik and Ayesha Ali - Fall, 2018.</p>
</footer>
